hr {
  margin-top: 15px;
  margin-bottom:15px;
  border: 1px dotted #d9d9d9;
}

#customSettings {
  display:none;
}

ul#themeSettings {
  list-style: none;
}

ul#themeSettings li input{
  margin-right: 8px;
  vertical-align: baseline;
}

#iconBox {
  padding: 10px;
  border: 1px dotted #d9d9d9;
  margin-top: 10px;
  position: absolute;
  background-color: #efefef;
  display:none;
}
#iconBox img {
  margin-right: 10px;
  cursor: pointer;
}

.requiredMark {
  color: #FF0000;
}

.error, .success {
  display: none;
}